@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 320px){

  .App-logo{
    position: fixed;
    right:  -4px;
    width: 23%;
    top:20px;
    pointer-events: none;
  }

  .Main_Header{
    width: 100%;
    height: 100px;
    background-color:#001529;
    position: fixed;
    top:0px;
    z-index: 2000;
  }

  .Side_Menu{
    position: fixed;
    top:0px;
    z-index: 2001;
  }

  .Page_Control{
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0px;
    z-index: 2000 !important;
    background-color:white;
    text-align: center;
  }

  .Pagination{
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    bottom: 8px;
  }

  .Card{
    margin: 80px auto 40px auto!important;
  }
  
  .App-header{
    background-color: whitesmoke;
  }

  .Card_button{
    margin-top: 10px !important;
  }

  .Search_Field{
    position: absolute;
    top: 64px;
    left: 40px;
    max-width: 200px;
  }
}


@media screen and (max-width: 375px){

  .App-logo{
    position: fixed;
    right:  8px;
    width: 28%;
    top:10px;
    pointer-events: none;
  }

  .Main_Header{
    width: 100%;
    height: 100px;
    background-color:#001529;
    position: fixed;
    top:0px;
    z-index: 2000;
  }

  .Side_Menu{
    position: fixed;
    top:0px;
    z-index: 2001;
  }

  .Page_Control{
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0px;
    z-index: 2000 !important;
    background-color:white;
    text-align: center;
  }

  .Pagination{
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    bottom: 8px;
  }

  .Card{
    margin: 80px auto 40px auto!important;
  }
  
  .App-header{
    background-color: whitesmoke;
  }

  .Card_button{
    margin-top: 10px !important;
  }

  .Search_Field{
    position: absolute;
    top: 64px;
    left: 68px;
    max-width: 200px;
  }
}

@media screen and (max-width: 425px){

  .App-logo{
    position: fixed;
    right:  30px;
    width: 28%;
    top:10px;
    pointer-events: none;
  }

  .Main_Header{
    width: 100%;
    height: 100px;
    background-color:#001529;
    position: fixed;
    top:0px;
    z-index: 2000;
  }

  .Side_Menu{
    position: fixed;
    top:0px;
    z-index: 2001;
  }

  .Page_Control{
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0px;
    z-index: 2000 !important;
    background-color:white;
    text-align: center;
  }

  .Pagination{
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    bottom: 8px;
  }

  .Card{
    margin: 80px auto 40px auto!important;
  }
  
  .App-header{
    background-color: whitesmoke;
  }

  .Card_button{
    margin-top: 10px !important;
  }

  .Search_Field{
    position: absolute;
    top: 64px;
    left: 92px;
    max-width: 200px;
  }
}


@media screen and (max-width: 768px){

  .App-logo{
    position: fixed;
    right:  30px;
    width: 14%;
    top:10px;
    pointer-events: none;
  }

  .Main_Header{
    width: 100%;
    height: 100px;
    background-color:#001529;
    position: fixed;
    top:0px;
    z-index: 2000;
  }

  .Side_Menu{
    position: fixed;
    top:0px;
    z-index: 2001;
  }

  .Page_Control{
    width: 100%;
    height: 6vh;
    position: fixed;
    bottom: 0px;
    z-index: 2000 !important;
    background-color:white;
    text-align: center;
  }

  .Pagination{
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    bottom: 8px;
  }

  .Card{
    margin: 80px 40px 40px 40px !important;
  }
  
  .App-header{
    background-color: whitesmoke;
  }

  .Card_button{
    margin-top: 10px !important;
  }

  .Search_Field{
    position: absolute;
    top: 64px;
    left: 92px;
    max-width: 350px;
  }

  .characterList{
    margin: auto;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1440px){

  .App-logo{
    position: fixed;
    right:  30px;
    width: 12%;
    top:8px;
    pointer-events: none;
  }

  .Main_Header{
    width: 100%;
    height: 100px;
    background-color:#001529;
    position: fixed;
    top:0px;
    z-index: 2000;
  }

  .Side_Menu{
    position: fixed;
    top:0px;
    z-index: 2001;
  }

  .Page_Control{
    width: 100%;
    height: 6vh;
    position: fixed;
    bottom: 0px;
    z-index: 2000 !important;
    background-color:white;
    text-align: center;
  }

  .Pagination{
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    bottom: 8px;
  }

  .Card{
    margin: 80px 10px 40px 10px !important;
  }
  
  .App-header{
    background-color: whitesmoke;
  }

  .Card_button{
    margin-top: 10px !important;
  }

  .Search_Field{
    position: absolute;
    top: 64px;
    left: 98px;
    max-width: 350px;
  }

  .characterList{
    margin: auto;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}


@media screen and (max-width: 1440px){

  .App-logo{
    position: fixed;
    right:  30px;
    width: 8%;
    top:8px;
    pointer-events: none;
  }

  .Main_Header{
    width: 100%;
    height: 100px;
    background-color:#001529;
    position: fixed;
    top:0px;
    z-index: 2000;
  }

  .Side_Menu{
    position: fixed;
    top:0px;
    z-index: 2001;
  }

  .Page_Control{
    width: 100%;
    height: 6vh;
    position: fixed;
    bottom: 0px;
    z-index: 2000 !important;
    background-color:white;
    text-align: center;
  }

  .Pagination{
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    bottom: 8px;
  }

  .Card{
    margin: 80px 10px 40px 10px !important;
  }
  
  .App-header{
    background-color: whitesmoke;
  }

  .Card_button{
    margin-top: 10px !important;
  }

  .Search_Field{
    position: absolute;
    top: 64px;
    left: 132px;
    max-width: 350px;
  }

  .characterList{
    margin: auto;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1440px){

  .App-logo{
    position: fixed;
    right:  30px;
    width: 12%;
    top:8px;
    pointer-events: none;
  }

  .Main_Header{
    width: 100%;
    height: 100px;
    background-color:#001529;
    position: fixed;
    top:0px;
    z-index: 2000;
  }

  .Side_Menu{
    position: fixed;
    top:0px;
    z-index: 2001;
  }

  .Page_Control{
    width: 100%;
    height: 6vh;
    position: fixed;
    bottom: 0px;
    z-index: 2000 !important;
    background-color:white;
    text-align: center;
  }

  .Pagination{
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    bottom: 8px;
  }

  .Card{
    margin: 80px 10px 40px 10px !important;
  }
  
  .App-header{
    background-color: whitesmoke;
  }

  .Card_button{
    margin-top: 10px !important;
  }

  .Search_Field{
    position: absolute;
    top: 64px;
    left: 98px;
    max-width: 350px;
  }

  .characterList{
    margin: auto;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 2000px){

  .App-logo{
    position: fixed;
    right:  30px;
    width: 8%;
    top:-4px;
    pointer-events: none;
  }

  .Main_Header{
    width: 100%;
    height: 100px;
    background-color:#001529;
    position: fixed;
    top:0px;
    z-index: 2000;
  }

  .Side_Menu{
    position: fixed;
    top:0px;
    z-index: 2001;
  }

  .Page_Control{
    width: 100%;
    height: 6vh;
    position: fixed;
    bottom: 0px;
    z-index: 2000 !important;
    background-color:white;
    text-align: center;
  }

  .Pagination{
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    bottom: 8px;
  }

  .Card{
    margin: 80px 10px 40px 10px !important;
  }
  
  .App-header{
    background-color: whitesmoke;
  }

  .Card_button{
    margin-top: 10px !important;
  }

  .Search_Field{
    position: absolute;
    top: 64px;
    left: 128px;
    max-width: 350px;
  }

  .characterList{
    margin: 50px auto auto auto;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}